$upshow: #44b0f4;
$fonts: #21445e;
$background: #fafafa;

body {
  color: $fonts;
}
.main-container {
  width: 100vw;
  height: 100vh;
  background-color: $upshow;
}

.dashboard-container {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 38px;
  background-color: $background;
}

@keyframes confirm-button-animation {
  0% {
    bottom: -500px;
  }
  100% {
    bottom: 10px;
  }
}

.title {
  position: relative;
  width: 275px;
  height: 60px;
  padding: 26px;
  text-align: center;

  color: $upshow;
  font-size: 38px;
  font-weight: bold;
  box-sizing: border-box;

  text-transform: uppercase;

  transition: width 200ms ease-out;
  .action {
    top: 0%;
    left: 50px;
    opacity: 0;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: top 120ms ease-out, opacity 120ms ease-in;
  }
  .title-text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;

    position: absolute;

    transition: left 120ms ease-out 120ms, opacity 120ms ease-out;
  }
  .close {
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
    opacity: 1;

    position: absolute;
  }

  .input {
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    opacity: 1;

    color: $fonts;
    text-transform: uppercase;

    font-size: 38px;
    font-weight: bold;

    width: 60%;
    height: 40px;
    border: none;

    background: $background;

    position: absolute;

    &::placeholder {
      color: $fonts;
    }
  }

  &:hover {
    cursor: pointer;
    .action {
      top: 50%;
      opacity: 1;
      transition: top 120ms ease-out 120ms, opacity 120ms ease-in 120ms;
    }

    .title-text {
      left: 170px;
      transition: left 120ms ease-out, opacity 120ms ease-out;
    }
  }
  &.open {
    width: 85%;
    height: 60px;

    .title-text {
      opacity: 0;
    }
    .action {
      top: 50%;
      opacity: 1;
      transition: top 120ms ease-out 120ms, opacity 120ms ease-in 120ms;
    }
  }
}

.upshow-border {
  border-radius: 8px;
  border-style: solid;
  border-width: 10px;
  border-color: #143965;
}

.list {
  height: -webkit-fill-available;
  margin-bottom: 20px;

  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 20px;
  }
  &::-webkit-scrollbar-thumb {
    background: $upshow;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $fonts;
  }
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 60px;
  padding-top: 10px;

  color: $fonts;
  opacity: 0.6;
  background-color: $background;
  transition: opacity 400ms ease-out, height 200ms ease-out;

  border-bottom: 2px solid $upshow;

  &:hover {
    opacity: 1;
  }

  &.open {
    height: fit-content;
    opacity: 1;
    font-weight: bold;
  }

  .data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
      width: -webkit-fill-available;
    }
  }

  .row-content {
    width: 100%;
  }
}

.switch-button {
  position: absolute;
  display: flex;
  height: 60px;
  width: fit-content;
  box-sizing: border-box;

  justify-content: center;
  align-items: center;

  color: $upshow;
  font-weight: bold;

  padding: 20px;
  top: 40px;
  right: 40px;
  border-radius: 8px;
}

.list-container {
  height: -webkit-fill-available;

  width: 100%;
  padding: 0 10px;
  margin: 20px 0;
  margin-bottom: 20%;
}
.list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-bottom-color: $fonts;
  border-bottom-width: 3px;
  border-bottom-style: solid;

  p {
    font-weight: bold;
    font-size: 18px;
    width: -webkit-fill-available;
  }
}

.md-chip {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  width: fit-content;
  background: #fff;
  padding: 5px 15px;
  border-radius: 32px;

  margin: 5px 10px;
  font-size: 13px;
  &.md-chip-hover:hover {
    background: rgba(172, 172, 172, 0.04);
  }
}

.md-chip-remove {
  display: flex;
  background: #fff;
  justify-content: center;
  align-items: center;
  border: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 0;
  margin: 0 -4px 0 4px;
  cursor: pointer;
  font: inherit;
  line-height: 20px;
  &:after {
    color: $fonts;
    content: "⤫";
  }
  &:hover {
    background: #999;
  }
  &:active {
    background: #777;
  }
}

.favorite-venues-container {
  background: #fff;
  padding: 20px;
  .favorite-venues-header {
    display: flex;
    flex-direction: row;

    align-items: center;

    .add-favorite-venue {
      margin: 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      font-size: 28px;
      border-radius: 20px;
      border-width: 3px;
      border-color: $fonts;
      border-style: solid;
      cursor: pointer;

      transition: transform 200ms ease-in-out, width 200ms ease-out;

      &:hover {
        // transform: rotateZ(720deg);
      }

      &.open {
        width: 300px;

        select {
          width: 85%;
          height: 100%;
          background: #fff;
          justify-content: flex-start;
          transition: justify-content 120ms ease-out 200ms;
          font-size: 18px;
          -webkit-appearance: button;
          -moz-appearance: button;
          -webkit-user-select: none;
          -moz-user-select: none;
          -webkit-padding-end: 20px;
          -moz-padding-end: 20px;
          -webkit-padding-start: 2px;
          -moz-padding-start: 2px;
          border: 0px solid #aaa;
          color: $fonts;
          font-weight: bold;
          margin: 0;
          overflow: hidden;
          padding: 2px 0;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }

  .favorite-venues-list {
    width: 100%;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
  }
}

.create-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  padding: 5px 8px;
  border-radius: 8px;
  color: $background;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  font-size: 24px;
  text-transform: uppercase;

  font-weight: bold;
  background: $upshow;
  right: 20px;
  bottom: 20px;
  transition: transform 120ms ease-out, width 220ms ease-out,
    height 220ms ease-out;

  .input {
    color: $fonts;
    text-transform: uppercase;

    font-size: 18px;
    font-weight: bold;

    width: 60%;
    height: 40px;

    margin-left: 20px;
    border: none;

    background: $upshow;

    &::placeholder {
      color: $fonts;
    }
  }

  &.open {
    width: 60%;
    justify-content: flex-start;

    margin-left: 20px;
  }

  &.client {
    &.open {
      width: 90%;
    }
  }
}

.age-pickers {
  .input {
    color: $fonts;
    text-transform: uppercase;

    font-size: 18px;
    font-weight: bold;

    width: 20%;
    height: 40px;

    margin-left: 20px;
    border: none;
    padding: 0 12px;
    border-radius: 8px;

    background: $upshow;

    &::placeholder {
      color: $fonts;
    }
  }
}
